@use '../abstracts/' as *;

/*
================================
=   Customize option details   =
================================
*/

.product-details {
    &__fit-option-fields {
        overflow: hidden;
        transition: height 0.5s ease-out, opacity 0.5s ease-out;
        height: auto;
        opacity: 1;
    }

    &-custom-option {
        &__container {
            display: none;         
            
            .swiper {
                height: 1px;
                opacity: 0;
                transition: height 300ms, opacity 300ms;
            }

            &--active {
                display: block;
            }

            &--active.product-details-custom-option__container--show-children {
                .swiper {
                    opacity: 1;
                    height: 100%;
                }
            }
        }
        &__title {
            text-align: center;
            margin: 0;
        }
    }

    .fit-option-fields {
        &__top {
            padding: 1rem;

            .fit-option-fields-top {
                &__go-back {
                    white-space: nowrap;
                    width: to-rem(30);
                }

                &__title {
                    text-align: center;
                    margin: 0;
                }

                &__description {
                    text-align: center;
                    padding-block: 1rem;
                }
            }
        }

        &__main {
            height: to-rem(600);
            overflow-y: scroll;
            padding-inline: 2rem;

            &-label {
                cursor: pointer;
                @include d-flex(column, center, center, nowrap);

                &:has(.fit-option-fields__main-input:checked) {
                    border: 2px solid #333;
                }
            }

            &-input {
                display: none;
            }
        }
    }

    .fit-option-fields-top__title {
        text-align: center;
    }
}