@use '../abstracts/' as *;
@use '../components/buttons';

/*
================================
=        Customize Popup       =
================================
*/
.product-details__customize-popup {
  --dialog-transition-time: 500ms;
  --dialog-padding: 1.875rem;

  display: block;
  z-index: -1;
  opacity: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  transition: opacity var(--dialog-transition-time), transform var(--dialog-transition-time), z-index var(--dialog-transition-time);
  
  &[open] {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--dialog-transition-time), transform var(--dialog-transition-time), z-index 0s var(--dialog-transition-time);
  }

  &::backdrop {
    background-color: rgb(black, .75);
  }

  .customize-popup {
    &__header {
      padding-bottom: 1.25rem;

      @include d-flex($align: center);
    }

    &__product-title {
      text-transform: uppercase;
      color: var(--primary-color-500);
      font-size: clamp(1.25rem, 2vw, 1.5rem);
      margin-bottom: 0;
    }

    &__product-price {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--gray-color-900);
      padding-right: 1.25rem;

      @include d-flex($colGap: .125rem);

      .currency-symbol {
        line-height: 1.2;
      }
    }

    &__close-btn {
      padding: 0;
      margin: 0;
      position: absolute;
      top: .625rem;
      right: .625rem;
      line-height: 1;
      
      .material-symbols-outlined {
        font-size: 2rem;
        transition: rotate 300ms;
      }

      &:hover {
        .material-symbols-outlined {
          rotate: 180deg;
        }
      }
    }

    &__fit-customization {
      --sidebar-width: 17.5rem;
      display: grid;
      height: 100%;

      @include container-query(content, md, gt) {
        grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
      }
    }

    &__process-step {
      position: relative;
      background-color: var(--primary-color-200);

      &-inner {
        position: sticky;
        top: 0;
        padding: var(--dialog-padding) 0 var(--dialog-padding) var(--dialog-padding);
      }

      &-title {
        text-transform: capitalize;        
      }
    }

    &__nav {
      list-style: none;

      &-item {
        @include d-flex($align:center, $colGap: .3125rem);

        .material-symbols-outlined {
          color: var(--gray-color-200);
        }

        &--disabled {
          cursor: not-allowed;
          pointer-events: none;
        }

        &--active {
          font-weight: 700;

          .material-symbols-outlined {
            color: var(--gray-color-900);
          }
        }

        &--completed {
          .material-symbols-outlined {
            color: var(--success-color-700);
          }
        }
      }
    }

    &__detail-step {
      padding: var(--dialog-padding);
      container: detail-step / inline-size;
    }

    &__step {
      --options-gap: 1.25rem;
      --options-col-count: 2;
      --option-width: calc((100% - var(--options-gap) * (var(--options-col-count) - 1)) / var(--options-col-count));
      display: none;

      &--active {
        display: block;
      }

      &-title {
        text-align: center;
      }

      .fabric-options {
        display: none;

        &--active {
          display: flex;
        }
      }

      &-options {
        @include d-flex($justify: center, $wrap: wrap, $colGap: var(--options-gap));   
        
        &--flex-start {
          justify-content: flex-start;
        }
      }

      .step-option {
        --step-option-bg-clr: var(--gray-color-300);
        --step-option-checked-opacity: 0;
        flex: 0 0 var(--option-width);
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        gap: .625rem;
        margin-bottom: 0;
        border: .0625rem solid var(--step-option-bg-clr);
        cursor: pointer;
        transition: border-color 300ms;

        input {
          display: none;
        }

        &__feature-img {
          display: block;
          margin-inline: auto;
          max-width: 9.375rem;
          width: 100%;
          aspect-ratio: 1;
        }

        &__name {
          font-size: .875rem;
          text-align: center;
          padding: .625rem;
          line-height: 1.3;
          height: calc(1rem * 1.3 * 2 + .625rem * 2);
          display: grid;
          place-items: center;
        }
        
        &__name, &__meta {
          background: var(--step-option-bg-clr);
          color: #fff;
          transition: background-color 300ms;
        }
        
        &__meta {
          line-height: 1;
          padding: .3125rem .625rem;
          
          @include d-flex($justify: space-between, $align: center);
        }
        
        &__state {
          font-size: 1.25rem;
          opacity: var(--step-option-checked-opacity);
        }
        
        &:has(input[checked]) {
          --step-option-bg-clr: var(--gray-color-500);
          --step-option-checked-opacity: 1;
        }

        &:hover:not(:has(input[checked])) {
          --step-option-bg-clr: var(--gray-color-400);
        }
      }

      &-continue-btn, .customize-popup__submit-btn {
        margin: 1.25rem auto 0;
      }

      @include container-query(detail-step, md, gt) {
        --options-col-count: 4;
      }
    }

    &__review-selection {
      img {
        width: 9.375rem;
        aspect-ratio: 1;
      }

      .review-selection {
        &__step {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: .9375rem;

          &-title {
            flex: 1 0 100%;
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: bold;
          }

          &-options {
            margin-top: .625rem;
            flex: 1 0 100%;
            @include d-flex($wrap: wrap, $colGap: 1.25rem);
          }
        }
      }
    }

    &__step-details {
      margin-top: 1.25rem;
    }
  }

  .take-measurements {
    &__steps-nav {
      margin-bottom: 1.25rem;

      @include d-flex($align: center, $wrap: wrap, $colGap: .3125rem);
    }

    .steps-nav__item {
      line-height: 1;
      padding: .625rem .9375rem;
      border: 0.0625rem solid var(--gray-color-100);
      transition: border-color 300ms, color 300ms, font-weight 300ms;

      &--active {
        font-weight: 700;
        color: var(--primary-color-500);
        border-color: var(--primary-color-500);
      }
    }

    &__steps-content {
      margin-bottom: 1.25rem;
      
      .swiper-navigation-buttons {
        margin-top: 1.25rem;

        @include d-flex($justify: space-between, $align: center);
      }
    }

    .steps-content {
      &__item {
        background-color: var(--primary-color-50);
        padding: .9375rem 1.25rem 1.25rem;

        &-title {
          display: inline-block;
          font-size: 1.125rem;
          margin-bottom: .5em;
          width: 100%;
        }

        &-title, &-desc {
          text-align: center;
          text-wrap: pretty;
        }

        &-fields {
          --fields-gap: .625rem;
          display: grid;
          grid-template-columns: repeat(var(--fields-count, 1), 1fr);
          gap: var(--fields-gap);
          justify-items: center;

          @include container-query(detail-step, sm) {
            grid-template-columns: 1fr;
          }

          .field-group {
            position: relative;

            &__input {
              margin: 0;

              &:not([type="file"], [type="radio"]) {
                padding-right: 1.875rem;
              }

              &--error {
                border-color: var(--danger-color-500);
              }
            }

            &__unit {
              position: absolute;
              top: 50%;
              right: .625rem;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    &__btn {
      min-height: auto;
      margin: 0;
      padding: .5rem;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: #fff;
      background-color: var(--primary-color-500);
      transition: background-color 300ms;

      &.swiper-button-disabled {
        background-color: var(--primary-color-200);
      }
    }
  }

  @include container-query(content, md, gt) {
    max-width: var(--pc-max-width);
  }
}