@use '../abstracts/' as *;
@use '../components/buttons';

/*
================================
=        Customize Popup       =
================================
*/
.product-details__customize-popup {
  --dialog-transition-time: 500ms;
  --dialog-padding: 1.875rem;

  display: block;
  z-index: -1;
  opacity: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  transition: opacity var(--dialog-transition-time), transform var(--dialog-transition-time), z-index var(--dialog-transition-time);
  
  &[open] {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--dialog-transition-time), transform var(--dialog-transition-time), z-index 0s var(--dialog-transition-time);
  }

  &::backdrop {
    background-color: rgb(black, .75);
  }

  .customize-popup {
    &__header {
      position: relative;
    }

    &__title {
      text-transform: uppercase;
    }

    &__close-btn {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      line-height: 1;
      
      .material-symbols-outlined {
        font-size: 2rem;
        transition: rotate 300ms;
      }

      &:hover {
        .material-symbols-outlined {
          rotate: 180deg;
        }
      }
    }

    &__fit-customization {
      --sidebar-width: 17.5rem;
      display: grid;
      height: 100%;

      @include container-query(content, md, gt) {
        grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
      }
    }

    &__process-step {
      background-color: var(--primary-color-200);
      padding: var(--dialog-padding) 0 var(--dialog-padding) var(--dialog-padding);

      &-title {
        text-transform: capitalize;        
      }
    }

    &__nav {
      list-style: none;

      &-item {
        @include d-flex($align:center, $colGap: .3125rem);

        .material-symbols-outlined {
          color: var(--gray-color-200);
        }

        &--disabled {
          cursor: not-allowed;
          pointer-events: none;
        }

        &--active {
          font-weight: 700;

          .material-symbols-outlined {
            color: var(--gray-color-900);
          }
        }

        &--completed {
          .material-symbols-outlined {
            color: var(--success-color-700);
          }
        }
      }
    }

    &__detail-step {
      padding: var(--dialog-padding);
      container: detail-step / inline-size;
    }

    &__step {
      --options-gap: 1.25rem;
      --options-col-count: 2;
      --option-width: calc((100% - var(--options-gap) * (var(--options-col-count) - 1)) / var(--options-col-count));
      display: none;

      &--active {
        display: block;
      }

      &-title {
        text-align: center;
      }

      .fabric-options {
        display: none;

        &--active {
          display: flex;
        }
      }

      &-options {
        @include d-flex($justify: center, $wrap: wrap, $colGap: var(--options-gap));   
        
        &--flex-start {
          justify-content: flex-start;
        }
      }

      .step-option {
        --step-option-bg-clr: var(--gray-color-300);
        --step-option-checked-opacity: 0;
        flex: 0 0 var(--option-width);
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        gap: .625rem;
        margin-bottom: 0;
        border: .0625rem solid var(--step-option-bg-clr);
        cursor: pointer;
        transition: border-color 300ms;

        input {
          display: none;
        }

        &__feature-img {
          display: block;
          margin-inline: auto;
          max-width: 9.375rem;
          width: 100%;
          aspect-ratio: 1;
        }

        &__name {
          font-size: .875rem;
          text-align: center;
          padding: .625rem;
          line-height: 1.3;
          height: calc(1rem * 1.3 * 2 + .625rem * 2);
          display: grid;
          place-items: center;
        }
        
        &__name, &__meta {
          background: var(--step-option-bg-clr);
          color: #fff;
          transition: background-color 300ms;
        }
        
        &__meta {
          line-height: 1;
          padding: .3125rem .625rem;
          
          @include d-flex($justify: space-between, $align: center);
        }
        
        &__state {
          font-size: 1.25rem;
          opacity: var(--step-option-checked-opacity);
        }
        
        &:has(input[checked]) {
          --step-option-bg-clr: var(--gray-color-500);
          --step-option-checked-opacity: 1;
        }

        &:hover:not(:has(input[checked])) {
          --step-option-bg-clr: var(--gray-color-400);
        }
      }

      &-continue-btn, .customize-popup__submit-btn {
        margin: 1.25rem auto 0;
      }

      @include container-query(detail-step, md, gt) {
        --options-col-count: 4;
      }
    }
  }

  @include container-query(content, md, gt) {
    max-width: var(--pc-max-width);
  }
}