@use '../abstracts/' as *;

table,
th,
td {
    border: 1px solid black !important;
}

th {
    text-align: center !important;
}

td {
    padding-left: .5rem !important;
}

.privacy-policy {
    margin-block: 2rem;

    .privacy-policy__title {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    li {
        padding-left: 1rem;
    }
}