@use 'functions' as *;

$gpwColors: create-color-map(#f7941d);

$primaryColors: create-color-map(#8b5d3c);
$secondaryColors: create-color-map(#2c3345);
$tertiaryColors: create-color-map(#160c06);

$successColors: create-color-map(#22c55e);
$dangerColors: create-color-map(#f43f5e);
$grayColors: create-color-map(#2a2a2a);
